<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-search-box">
                  <label><i class="material-icons search-icon">search</i></label>
                  <input type="text" placeholder="Buscar"  #filter class="browser-default search-field" aria-label="search box">
                </li>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <h4 class="m-b-5">
                    Incisos Seleccionados: <span class="label label-success">{{ cantidadIncisos }}</span>
                  </h4>
                </li>
                <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="ACEPTAR">
                    <button mat-mini-fab color="primary" (click)="confirmAdd()">
                      <mat-icon class="col-white">done</mat-icon>
                    </button>
                  </div>
                </li>
                <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="CANCELAR" (click)="onNoClick()">
                    <button mat-mini-fab color="warn" >
                      <mat-icon class="col-white">close</mat-icon>
                    </button>
                  </div>
                </li>
                <!--                <li class="tbl-header-btn">-->
                <!--                  <div class="m-l-10" matTooltip="DELETE" [hidden]=!selection.hasValue()>-->
                <!--                    <button mat-mini-fab color="warn" (click)="removeSelectedRows()">-->
                <!--                      <mat-icon class="col-white">delete</mat-icon>-->
                <!--                    </button>-->
                <!--                  </div>-->
                <!--                </li>-->
              </ul>
            </div>
          </div>
          <div class="body overflow-auto">
            <div class="responsive_table">
              <table mat-table [dataSource]="incisoList" matSort class="mat-cell advance-table table-inciso">
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="onRowCheckboxChange($event, row)"
                                  [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="idIncisoArancelario">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Inciso</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.idIncisoArancelario}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.nombre}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                         [style.cursor]="'pointer'" matRipple>
                </mat-row>
              </table>
            </div>
            @if (exampleDatabase?.isTblLoading) {
              <div class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
            }

            @if (!exampleDatabase?.isTblLoading) {
              <div class="no-results"
                   [style.display]="incisoList.renderedData.length === 0 ? '' : 'none'">
                Sin resultados
              </div>
            }
            <mat-paginator #paginator [length]="incisoList.filteredData.length" [pageIndex]="0" [pageSize]="5"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

