<div class="addContainer">
  @if (isDetails) {
    <div class="contact-details">
      <div class="modalHeader">
        <div class="editRowModal">
          <div class="modalHeader m-0">
            <div class="contact-details-heading">
              <div class="contact-details-name">Realizar Solicitud</div>
              <div class="col-green font-12">Friends</div>
            </div>
          </div>
        </div>
      </div>

      <div mat-dialog-content>
<!--        <form class="register-form m-4" [formGroup]="solicitudForm!">-->

<!--        </form>-->
      </div>
    </div>
  }
</div>
