<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Perfil'"  [active_item]="'Perfil'" >
      </app-breadcrumb>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-c-blue">
                <div class="user-name">{{ setProfileUser().nombre }}</div>
              </div>
              <img src="assets/images/user/user_perfil.png" class="user-img" alt="">
              <div class="name-center">NIT: {{ setProfileUser().nit }}</div>
              <p>
                {{ setProfileUser().correo }}
              </p>
              <div>
                <span class="phone">
                  <i class="material-icons">phone</i>{{ setProfileUser().telefono }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                Información
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Principal</strong></h2>
                  </div>
                  <div class="body">
                    <div class="row">
                      <div class="col-md-4 col-6 b-r" *ngIf = "setProfileUser().nombreZonaFranca">
                        <strong>Zona Franca</strong>
                        <br>
                        <p class="text-muted">{{ setProfileUser().nombreZonaFranca }}</p>
                      </div>
                      <div class="col-md-4 col-6 b-r" *ngIf = "setProfileUser().telefono">
                        <strong>Teléfono</strong>
                        <br>
                        <p class="text-muted">{{ setProfileUser().telefono }}</p>
                      </div>
                      <div class="col-md-4 col-6 b-r" *ngIf = "setProfileUser().direccion">
                        <strong>Dirección</strong>
                        <br>
                        <p class="text-muted">{{ setProfileUser().direccion }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 col-6 b-r" *ngIf = "setProfileUser().zona">
                        <strong>Zona</strong>
                        <br>
                        <p class="text-muted">{{ setProfileUser().zona }}</p>
                      </div>
                      <div class="col-md-4 col-6 b-r" *ngIf = "setProfileUser().municipio">
                        <strong>Municipio</strong>
                        <br>
                        <p class="text-muted">{{ setProfileUser().municipio }}</p>
                      </div>
                      <div class="col-md-4 col-6 b-r" *ngIf = "setProfileUser().departamento">
                        <strong>Departamento</strong>
                        <br>
                        <p class="text-muted">{{ setProfileUser().departamento }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 col-6 b-r">
                        <strong>Nombre</strong>
                        <br>
                        <p class="text-muted">{{ setProfileUser().nombre }}</p>
                      </div>
                      <div class="col-md-4 col-6 b-r">
                        <strong>Nit</strong>
                        <br>
                        <p class="text-muted">{{ setProfileUser().nit }}</p>
                      </div>
                      <div class="col-md-4 col-6 b-r">
                        <strong>Correo</strong>
                        <br>
                        <p class="text-muted">{{ setProfileUser().correo }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12" *ngIf = "setProfileUser().representantesLegales">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Representantes Legales</strong></h2>
                  </div>
                  <div class="body">
                    <div class="row" *ngFor="let user of setProfileUser().representantesLegales">
                      <div class="col-md-6 col-6 b-r">
                        <strong>Nit Representante</strong>
                        <br>
                        <p class="text-muted">{{ user.nit }}</p>
                      </div>
                      <div class="col-md-6 col-6 b-r">
                        <strong>Nombre Representante</strong>
                        <br>
                        <p class="text-muted">{{ user.nombre }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
                Ajustes
              </ng-template>
              <div class="header">
                <h2>
                  <strong>Cambiar Contraseña</strong></h2>
              </div>
              <div class="body">
                <div class="example-container">
                  <form class="register-form m-4" [formGroup]="passwordForm!" >
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Contraseña Actual</mat-label>
                      <input matInput type="password" formControlName="currentPassword">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Nueva Contraseña</mat-label>
                      <input matInput type="password" formControlName="newPassword">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Confirmar Contraseña</mat-label>
                      <input matInput type="password" formControlName="confirmPassword">
                    </mat-form-field>
                    <div *ngIf="passwordForm && passwordForm.hasError('notSame') && passwordForm.get('confirmPassword')?.dirty">
                      <div class="alert alert-danger">
                        <strong>Error! </strong> Las contraseñas no coinciden.
                      </div>
                    </div>
                  </form>
                </div>
                <div class="example-button-row">
                    <button mat-mini-fab color="primary"  [disabled]="!passwordForm || passwordForm.invalid" (click)="changePassword()">
                      <mat-icon class="col-white" *ngIf="!buttonAccion">autorenew</mat-icon>
                      <mat-icon *ngIf="buttonAccion">
                        <mat-spinner diameter="20" color="accent" >
                        </mat-spinner>
                      </mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" >
                      <mat-icon class="col-white">clear</mat-icon>
                    </button>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>
